  <div id="page-wrapper">

            <div class="container-fluid">

               
          
 <section id="main-content">
          <section class="wrapper">
<form class="form-horizontal" name="relationForm"
      novalidate>
    <fieldset>
        <legend>LBC</legend>
        <div class="form-group"
             ng-class="{'has-error':relationForm.inputRelsationName.$invalid &&
                                    relationForm.inputRelsationName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputRelationName">Relation</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputRelationName"
                       name="inputRelationName"
                       type="text"
                       placeholder="Relation Name (required)"
                       ng-model="vm.relation.RelationName"
                        ng-minlength="4"
                        ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="relationForm.inputRelsationName.$error.required">
                    Religion ID is required
                </span>
                <span ng-show="relationForm.inputRelsationName.$error.minlength">
                    Religion ID should be not be below 4 characters
                </span>
                <span ng-show="relationForm.inputRelsationName.$error.maxlength">
                    Religion ID should not exceed 12 charactersFarmer Number
                </span>
            </span>
        </div>
     
        

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                    <span>
                        <button class="btn btn-primary"
                                style="width:80px;margin-right:10px"
                                ng-click="vm.submit(relationForm.$valid)">
                            Save
                        </button>
                    </span>
                    <span>
                        <button class="btn btn-default"
                                style="width:70px"
                                ng-click="vm.cancel()">
                            Cancel
                        </button>
                    </span>
            </div>
        </div>

    </fieldset>
</form>
</section>
</section>
  </div>
            <!-- /.container-fluid -->

        </div>