   <div id="page-wrapper">
       

            <div class="container-fluid">  
                   <form class="form-inline" id="form1">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>         

 <section id="main-content">
          <section class="wrapper">
    
<div class="panel panel-green">
    <div class="panel-heading"
         style="font-size:large">Farmer List
    </div>
    

    <div class="panel-body">
        <table class="table">

            <thead>
            <tr>
                <td>Farmer No.</td>
                <td>Surname</td>
                <td>Other Name(s)</td>
                <td>Date of Birth</td>
                <td>Gender</td>
                 <td>Residence</td>
                  <td>LBC </td>
                  <td>Passbook No. </td>
                <td>ID Type</td>
                <td>ID No.</td>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="farmer in vm.farmer |filter:search">
                
                <td>
                    <a ui-sref="farmerDetailView({FarmerCount: farmer.FarmerCount})">
                    {{ farmer.FarmerID}}</a>
                </td>
                <td>{{ farmer.FarmerSurname }}</td>
                <td>{{ farmer.FarmerOtherNames }}</td>
                <td>{{ farmer.FarmerDOB | date }}</td>
                  <td>{{ farmer.FarmerGender }}</td>
                 <td>{{ farmer.FarmerResidence }}</td>
                  <td>{{ farmer.LBCName }}</td>
                <td>{{ farmer.FarmerPassBookNumber }}</td>
                 <td>{{ farmer.IDTtpeName }}</td>
                <td>{{ farmer.FarmerIDCardNo  }}</td>
              
                <td>
                    <a class="btn btn-warning"
                       ui-sref="farmerEditView.basic({FarmerCount: farmer.FarmerCount})">
                        Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
</section>
</div>
</div>