  <div id="page-wrapper">

            <div class="container-fluid">

               
          
 <section id="main-content">
          <section class="wrapper">
<form class="form-horizontal" name="farmerForm"
      novalidate>
    <fieldset>
        <legend>Basic Farmer Information</legend>
        <div class="form-group"
             ng-class="{'has-error':farmerForm.inputFarmerID.$invalid &&
                                    farmerForm.inputFarmerID.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputFarmerID">Farmer ID</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputFarmerID"
                       name="inputFarmerID"
                       type="text"
                       placeholder="Farmer ID (required)"
                       ng-model="vm.farmer.FarmerID"
                       required
                        ng-minlength="4"
                        ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    Farmer Number is required
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Farm Number should be not be below 4 characters
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Farm Number should not exceed 12 charactersFarmer Number
                </span>
            </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid &&
                                    productForm.inputProductCode.$dirty}">
            <label class="col-md-2 control-label" for="inputProductCode">First Name</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductCode"
                       name="inputProductCode"
                       placeholder="First Name (required)"
                       ng-model="vm.product.firstname"
                       required
                        ng-minlength="4"
                        ng-maxlength="12"/>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputProductCode.$invalid ">
                    First Name is required
            </span>
        </div>
         <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">Other Name(s)</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="Other Name"
                       ng-model="vm.product.OtherName"
                     />
            </div>
           <!-- <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    Other Name
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Validation Message.
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Validation Message..
                </span>
            </span>-->
        </div>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid &&
                                    productForm.inputProductCode.$dirty}">
            <label class="col-md-2 control-label" for="inputProductCode">Surname</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductCode"
                       name="inputProductCode"
                        placeholder="Surname (required)"
                       ng-model="vm.product.Surname"
                       required
                        ng-minlength="4"
                        ng-maxlength="12"/>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputProductCode.$invalid ">
                    Surname is required
            </span>
        </div>
        
        
         <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">Date of Birth</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="dob (required)"
                       ng-model="vm.product.dob"
                       required
                       />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    Date of Birth is required
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Validation Message.
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Validation Message..
                </span>
            </span>
        </div>
       <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">Gender</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="Gender (required)"
                       ng-model="vm.product.Gender"
                       required
                        ng-minlength="4"
                        ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    Gender is required
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Farm Number should be not be below 4 characters
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Farm Number should not exceed 12 charactersFarmer Number
                </span>
            </span>
        </div>
        
         <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">ID Type</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="ID Type (required)"
                       ng-model="vm.product.IDType"
                       required
                       />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    ID Type is required
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Validation Message.
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Validation Message..
                </span>
            </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid &&
                                    productForm.inputProductCode.$dirty}">
            <label class="col-md-2 control-label" for="inputProductCode">ID No.</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductCode"
                       name="inputProductCode"
                      type="text"
                       placeholder="ID No. (required)"
                       ng-model="vm.product.IDNo"
                       required
                       />
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputProductCode.$invalid ">
                    ID No. is required
            </span>
        </div>
        
        
          <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">Region</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="Region (required)"
                       ng-model="vm.product.District"
                       required
                        />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                  Region is required  
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Validation Message.
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Validation Message..
                </span>
            </span>
        </div>
        
        
         <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">District</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="District (required)"
                       ng-model="vm.product.District"
                       required
                       />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                  District is required  
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Validation Message.
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Validation Message..
                </span>
            </span>
        </div>
       
        
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">Address</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="Address (required)"
                       ng-model="vm.product.Address"
                       required
                       />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                  Address is required  
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Validation Message.
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Validation Message..
                </span>
            </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid &&
                                    productForm.inputProductCode.$dirty}">
            <label class="col-md-2 control-label" for="inputProductCode">Educational Level</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductCode"
                       name="inputProductCode"
                       ng-model="vm.product.EducationalLevel"
                       required>
            </div>
          
        </div>
     

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                    <span>
                        <button class="btn btn-primary"
                                style="width:80px;margin-right:10px"
                                ng-click="vm.submit(farmerForm.$valid)">
                            Save
                        </button>
                    </span>
                    <span>
                        <button class="btn btn-default"
                                style="width:70px"
                                ng-click="vm.cancel()">
                            Cancel
                        </button>
                    </span>
            </div>
        </div>

    </fieldset>
</form>
</section>
</section>
  </div>
            <!-- /.container-fluid -->

        </div>